*, *::before, *::after {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div { 
    
    width : 1000px;
    border : 60px;
    padding: 2em;
    margin: 80px;
    background-color: lightgrey;
    border-color: blue;
    outline-style: ridge;
    

} 
.heading{
    text-align: center;
}